<!DOCTYPE html>
<html class="no-js" {{site.language_attributes}}>

    <head>
        <title>{{ title }}</title>
        <meta charset="{{site.charset}}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel='shortcut icon' type='image/x-icon' href="{{ icons.favicon }}">
        <link rel="shortcut icon" type="image/png" href="{{ icons.64 }}">
        <link rel="apple-touch-icon" href="{{ icons.120 }}">
        <!-- iPhone -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ icons.180 }}">
        <!-- iPhone retina -->
        <link rel="apple-touch-icon" sizes="152x152" href="{{ icons.152 }}">
        <!-- iPad -->
        <link rel="apple-touch-icon" sizes="167x167" href="{{ icons.167 }}">
        <!-- iPad retina -->
        <link rel="icon" sizes="192x192" href="{{ icons.192 }}">
        <!-- Chrome -->
        <link rel="icon" sizes="128x128" href="{{ icons.128 }}">
        <!-- Chrome -->
        {% block metas %}{% endblock metas %}

        <!-- WP Header-->
        {{ wp_head }}
        <!-- /WP Header-->

        {% block styles %}{% endblock styles %}
    </head>

    <body class="{{body_class}} flex-container flex-dir-column-reverse">

        <div class="site-content">
            <!-- Theme Content -->
            {{ block('content') }}
            <!-- /Theme Content -->

            <!-- Theme Footer -->
            {% include 'parts/footer.twig' %}
            <!-- /Theme Footer -->
        </div>
        <!-- Theme Header -->
        {% include 'parts/header.twig' %}
        <!-- /Theme Header -->

        <!-- Twig Inline Scripts tags -->
        {% block inline_scripts %}{% endblock inline_scripts %}
        <!-- /Twig Inline Scripts tags -->

        <!-- WP Footer-->
        {{ wp_footer }}
        <!-- /WP Footer-->
    </body>
</html>
