<!doctype html>
{% spaceless %}
<html class="no-js" {{site.language_attributes}}>
<head>

    {% if title %}
    <title>{{ title }}</title>
    {% endif %}

    {# WP Global Vars #}
    {% if globals_json %}
    <script>window.globals={{globals_json|json_encode }}</script>
    {% endif %}
    {# /WP Global Vars #}

    {# Head Top #}
    {% if head_top %}
        {% for head_top_inner in head_top %}{{ head_top_inner }}{% endfor %}
    {% endif %}
    {# /Head Top #}

    {# GTM #}
    {% if gtm.datalayer|default %}<script>window.dataLayer=window.dataLayer?window.dataLayer:[];window.dataLayer.push({{ gtm.datalayer|json_encode }});</script>{% endif %}
    {% if gtm.id|default %}<script>(function(w,d,s,l,i) { w[l]=w[l]||[]; w[l].push({ 'gtm.start': new Date().getTime(),event: 'gtm.js' }); var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'? '&l='+l:''; j.async=true; j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl; f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','{{ gtm.id }}');</script>{% endif %}
    {# /GTM #}

    {# WP Metas #}
    {% include 'parts/metas.twig' %}
    {# /WP Metas #}

    {# Schema Graph #}
    {% if schema_graph %}
    <script type="application/ld+json" class="woody-schema-graph">{{schema_graph|json_encode }}</script>
    {% endif %}
    {# Schema Graph #}

    {% if woody_pwa %}
         {% include 'notify_front/notifyHeader.twig' %}
    {% endif %}

    {# WP Header #}
    {{ wp_head }}
    {# /WP Header #}

    {# WP Favicons #}
    {% if icons %}
    <link rel="icon" type="image/x-icon" href="{{ icons.favicon }}">
    {% for size, file in icons.icon %}
    <link rel="icon" type="image/png" sizes="{{ size }}x{{ size }}" href="{{ file }}">
    {% endfor %}
    {% for size, file in icons.apple %}
    <link rel="apple-touch-icon" sizes="{{ size }}x{{ size }}" href="{{ file }}">
    {% endfor %}
    {% endif %}
    {# /WP Favicons #}

    {# WP Styles #}
    {% block styles %}{% endblock %}
    {# /WP Styles #}
</head>
{% endspaceless %}
<body class="{{body_class}}">
    {# GTM (noscript) #}
    {% if gtm.id|default %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm.id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}
    {# /GTM (noscript) #}

    {# Body Top #}
    {% if body_top %}
        {% for body_top_inner in body_top %}{{ body_top_inner }}{% endfor %}
    {% endif %}
    {# /Body Top #}

    {% if woody_pwa %}
         {% include 'notify_front/notifyBanners.twig' %}
    {% endif %}

    <div class="main-wrapper flex-container flex-dir-column">
        {# Theme Header #}
        {% block page_header %}
        {% if 'header' not in hide_page_zones %}
        {% include 'parts/header.twig' %}
        {% endif %}
        {% endblock %}
        {# /Theme Header #}
        
        <div class="site-content">
            {# Theme Content #}
            {% block content %}{% endblock %}
            {# /Theme Content #}

            {# Theme Footer #}
            {% block page_footer %}
            {% if 'footer' not in hide_page_zones %}
            {% include 'parts/footer.twig' %}
            {% endif %}
            {% endblock %}
            {# /Theme Footer #}
        </div>

        {% if woody_access_staging %}
        <div class="staging-banner">
            <span class="staging-label">Préproduction</span>
        </div>
        {% endif %}
    </div>

    {# Twig Inline Scripts tags #}
    {% block inline_scripts %}{% endblock %}
    {# /Twig Inline Scripts tags #}

    {# Reveal #}
    {% include 'parts/reveal.twig' %}
    {# /Reveal #}

    {# WP Footer #}
    {{ wp_footer }}
    {# /WP Footer #}
</body>
</html>
