<!DOCTYPE html>
<html class="no-js" {{site.language_attributes}}>

    <head>
        <title>{{ title }}</title>
        <meta charset="{{site.charset}}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        {% block metas %}{% endblock metas %}

        <!-- WP Header-->
        {{ wp_head }}
        <!-- /WP Header-->

        {% block styles %}{% endblock styles %}
    </head>

    <body class="{{body_class}}">
        <!-- Theme Header -->
        {% include 'parts/header.twig' %}
        <!-- /Theme Header -->

        <!-- Theme Content -->
        {{ block('content') }}
        <!-- /Theme Content -->

        <!-- Theme Footer -->
        {% include 'parts/footer.twig' %}
        <!-- /Theme Footer -->

        <!-- Twig Inline Scripts tags -->
        {% block inline_scripts %}{% endblock inline_scripts %}
        <!-- /Twig Inline Scripts tags -->

        <!-- WP Footer-->
        {{ wp_footer }}
        <!-- /WP Footer-->
    </body>
</html>
