<!doctype html>
{% spaceless %}
<html class="no-js" {{site.language_attributes}}>
<head>

    {% if title %}
    <title>{{ title }}</title>
    {% endif %}

    {# WP Global Vars #}
    {% if globals_json %}
    <script>window.globals={{globals_json|json_encode }}</script>
    {% endif %}
    {# /WP Global Vars #}

    {# Head Top #}
    {% if head_top %}
        {% for head_top_inner in head_top %}{{ head_top_inner }}{% endfor %}
    {% endif %}
    {# /Head Top #}

    {# GTM #}
    {% if gtm.datalayer|default %}<script>window.dataLayer=window.dataLayer?window.dataLayer:[];window.dataLayer.push({{ gtm.datalayer|json_encode }});</script>{% endif %}
    {% if gtm.id|default %}<script>(function(w,d,s,l,i) { w[l]=w[l]||[]; w[l].push({ 'gtm.start': new Date().getTime(),event: 'gtm.js' }); var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'? '&l='+l:''; j.async=true; j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl; f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','{{ gtm.id }}');</script>{% endif %}
    {# /GTM #}

    {# WP Metas #}
    {% include 'parts/metas.twig' %}
    {# /WP Metas #}

    {# Schema Graph #}
    {% block schemaGraph %}
    {% include 'parts/schemaGraph.twig' %}
    {% endblock %}
    {# Schema Graph #}

    {% if pwa.manifest_url %}
        <link rel="manifest" href="{{ pwa.manifest_url }}" />
        <script src="{{ home_url }}app/themes/woody-theme/pwa/sw-register.js"></script>
    {% endif %}

    {# WP Header #}
    {{ wp_head }}
    {# /WP Header #}

    {# WP Favicons #}
    {% if icons %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ icons.favicon }}"> {# Favicon ICO #}
    <link rel="shortcut icon" type="image/png" href="{{ icons.64 }}"> {# Favicon #}
    <link rel="apple-touch-icon" href="{{ icons.120 }}"> {# iPhone #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ icons.180 }}"> {# iPhone retina #}
    <link rel="apple-touch-icon" sizes="152x152" href="{{ icons.152 }}"> {# iPad #}
    <link rel="apple-touch-icon" sizes="167x167" href="{{ icons.167 }}"> {# iPad retina #}
    <link rel="icon" sizes="192x192" href="{{ icons.192 }}"> {# Chrome #}
    <link rel="icon" sizes="128x128" href="{{ icons.128 }}"> {# Chrome #}
    {% endif %}
    {# /WP Favicons #}

    {# WP Styles #}
    {% block styles %}{% endblock %}
    {# /WP Styles #}
</head>
<body class="{{body_class}}">
    {# GTM (noscript) #}
    {% if gtm.id|default %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm.id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}
    {# /GTM (noscript) #}

    {# Body Top #}
    {% if body_top %}
        {% for body_top_inner in body_top %}{{ body_top_inner }}{% endfor %}
    {% endif %}
    {# /Body Top #}

    {% if pwa.manifest_url %}
        <div class="invisible flex-container align-middle flex-dir-column align-center" id="pwaInstallBanner">
            <div class="appicon-wrapper">
                <img class="appicon" src="{{ icons.120 }}" width="32" height="32" />
            </div>
            <div class="flex-container flex-dir-column aling-middle align-center bg-white text-center">
                <span class="title">{{ __('Installer') }} {{ globals.site_name }}</span>
                {# <small>{{ http_host }}</small> #}
                <span class="desc">{{ __('Installez cette application sur votre écran d\'accueil pour un accès rapide et facile lorsque vous êtes en déplacement.', 'woody-theme') }}</span>
            </div>
            <div class="actions text-center">
                <div class="iosOnly flex-container align-center align-middle flex-dir-column">
                    <span class="notSafari flex-container align-middle">{{ __('Ouvrez Safari') }} <img width="24" height="24" src="/app/themes/woody-theme/pwa/icons/safari-icon.png" /></span>
                    <span>{{ __('Cliquez sur') }} <img width="24" height="24" src="/app/themes/woody-theme/pwa/icons/apple-share.svg" /> {{ __('puis "Sur l\'écran d\'accueil"') }}</span>
                </div>
                <div class="buttons flex-container flex-dir-column align-center align-middle">
                    <span id="triggerPwaInstall">{{ __('Installer') }}</span>
                    <span id="closePwaInstall">{{ __('Fermer') }}</span>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="main-wrapper flex-container flex-dir-column large-flex-dir-column-reverse">
        <div class="site-content">
            {# Theme Content #}
            {% block content %}{% endblock %}
            {# /Theme Content #}

            {# Theme Footer #}
            {% block page_footer %}
            {% if 'footer' not in hide_page_zones %}
            {% include 'parts/footer.twig' %}
            {% endif %}
            {% endblock %}
            {# /Theme Footer #}
        </div>

        {# Theme Header #}
        {% block page_header %}
        {% if 'header' not in hide_page_zones %}
        {% include 'parts/header.twig' %}
        {% endif %}
        {% endblock %}
        {# /Theme Header #}

        {% if woody_access_staging %}
        <div class="staging-banner">
            <span class="staging-label">Préproduction</span>
        </div>
        {% endif %}
    </div>

    {# Twig Inline Scripts tags #}
    {% block inline_scripts %}{% endblock %}
    {# /Twig Inline Scripts tags #}

    {# Reveal #}
    {% include 'parts/reveal.twig' %}
    {# /Reveal #}

    {# WP Footer #}
    {{ wp_footer }}
    {# /WP Footer #}
</body>
</html>
{% endspaceless %}
