{% extends "base.twig" %}

{% block content %}
<main id="main-content" class="content-type-page {{ page_type|default }}">
    <div class="content-wrapper {{ page_terms|default('no-terms') }}">
        <div class="mobile-header hide-for-xlarge title-bar">
            <div class="brand-logo obf" data-obf="{{ home_url|base64Encode }}" aria-label="{{ globals.site_name|default }}">
                <span class="no-visible-text menu-logo-site-name isAbs">{{ globals.site_name|default }}</span>
                {{ website_logo|default('Website logo') }}
            </div>
        </div>
        <div class="page-section text-center">
            <h1 class="msg404">{{ content.title }}</h1>
            <h2 class="msg404">{{ content.subtitle }}</h2>
            <p>{{ content.text }}</p>

            {% if content.custom.custom_links|default %}
                <div class="custom_links padd-bottom-md marg-top-lg padd-top-md bg-lightgray">
                    <div class="grid-container">
                        <h3 class="marg-bottom-lg">{{ content.custom.custom_links.title }}</h3>
                        <ul class="menu align-center align-middle">
                            {% for link in content.custom.custom_links.links %}
                            <li> <a class="button" target="{{ link.target | default('_self') }}" href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                {% if content.btn %}
                    <div class="button marg-top-md marg-bottom-md obf" data-obf="{{ home_url|base64Encode }}">{{ content.btn }}</div>
                {% endif %}

            {% else %}
                <div class="button primary marg-top-md marg-bottom-md obf" data-obf="{{ home_url|base64Encode }}"><span class="button-label">{{ __("Aller à la page d'accueil", "woody-theme") }}</span></div>
            {% endif %}

        </div>
        {{ content.custom_html|default }}
    </div>
</main>
{% endblock %}
