{% extends "base.twig" %}

{% block content %}
<main id="main-content" class="content-type-page {{ page_type|default }}">
    <div class="content-wrapper {{ page_terms|default('no-terms') }}">
        <div class="mobile-header hide-for-xlarge title-bar">
            <a class="brand-logo" href="{{ site.url }}">
                {{ website_logo|default('Website logo') }}
            </a>
        </div>

        {{ page_hero|default }}

        {# {% include 'parts/shares.twig' %} #}
        {% block page_teaser %}
        <header id="the-page-teaser" class="page-teaser">
            {{ page_teaser }}
        </header>
        {% endblock %}

        {% block home_slider %}
        {% if home_slider | default %}
        <div class="home-slider">
            {{ home_slider }}
            {% if bookblock|default %}
            <div class="bookblock-wrapper">
                {{ bookblock }}
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endblock %}

        {% if bookblock|default and not home_slider %}
        <div class="bookblock-wrapper">
            {{ bookblock }}
        </div>
        {% endif %}

        {% if playlist_tourism.content|default %}
        <div class="page-playlist-wrapper">
            {{ playlist_tourism.content }}
        </div>
        {% endif %}

        {% for key, section in the_sections %}
        <div class="page-section page-section-{{ key }}">
            {{ section }}
        </div>
        {% endfor %}

        {# {% if claims_block|default %}
        <div class="claims-blocks-wrapper">
            {{ claims_block }}
        </div>
        {% endif %} #}
        <div class="claims-blocks-wrapper"></div>

    </div>
</main>
{% endblock %}

{% block metas %}
<script>
    var siteConfig = {{ site_config }};
</script>
{% endblock %}
