{% extends "base.twig" %}

{% block content %}
    <main class="content-type-page">
        <div class="content-wrapper">
            {% if page_heading | default %}
                {{ page_heading }}
            {% endif %}
            {% if page_teaser | default %}
                {{ page_teaser }}
            {% endif %}
            {% if playlist_template | default %}{{ playlist_template }}
            {% endif %}
            {% for key, section in the_sections %}
                <div class="page-section page-section-{{ key }}">
                    {{ section }}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
