{% extends "base.twig" %}

{% block content %}
    <main id="main-content" class="content-type-page {{ page_type|default }}">
        <div class="content-wrapper">
            {{ page_hero|default }}
            {% block page_teaser %}
                {{ page_teaser }}
            {% endblock %}
            {{ playlist_template|default }}
            {% for key, section in the_sections %}
                <div class="page-section page-section-{{ key }}">
                    {{ section }}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
