{% extends "base.twig" %}

{% block content %}
    <main class="content-type-page {% if page_type|default %}{{ page_type }}{% endif %}">
        <div class="content-wrapper">
            {% if page_hero | default %}
                {{ page_hero }}
            {% endif %}
            {% block page_teaser %}
                {# L'en-tête de page est toujours affichée même si aucun champ n'est saisi afin d'afficher le fil d'arianne #}
                {{ page_teaser }}
            {% endblock %}
            {% if playlist_template | default %}
                {{ playlist_template }}
            {% endif %}
            {% for key, section in the_sections %}
                <div class="page-section page-section-{{ key }}">
                    {{ section }}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
