{% extends "base.twig" %}
{% block content %}
    {% if is_frontpage %}
        <h1 class="frontpage-htitle">
            {{ site.title|default }}</h1>
    {% endif %}
    <main class="content-type-page {{ page_type|default }}" id="main-content">

        {% if is_pocketsite %}
            {{pocketsite_menu}}
        {% endif %}
        <div class="content-wrapper {{ page_terms|default('no-terms') }}">
            {% block mobile_header %}
                <div class="mobile-header hide-for-xlarge title-bar">
                    <span class="brand-logo obf" data-obf="{{ home_url|base64Encode }}">
                        {{ mobile_logo|default(website_logo) }}
                    </span>
                </div>
            {% endblock %}
            {{ page_hero|default }}

            {{ page_parts.after_hero|default }}

            {% block page_teaser %}
                <header class="page-teaser" id="the-page-teaser">
                    {{ page_teaser }}
                </header>
            {% endblock %}

            {% block after_page_teaser %}
                {% if page_parts.after_page_teaser %}
                    <div class="after-page-teaser">
                        {{ page_parts.after_page_teaser }}
                    </div>
                {% endif %}
            {% endblock %}

            {% block home_slider %}
                {% if home_slider|default %}
                    <div class="home-slider">
                        {{ home_slider }}
                        {% if bookblock|default or page_parts.custom_bookblock|default %}
                            <div class="bookblock-wrapper">
                                {% if bookblock|default %}
                                    {{ bookblock }}
                                {% elseif page_parts.custom_bookblock|default %}
                                    {{ page_parts.custom_bookblock }}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endblock %}

            {% block after_landswpr %}
                {% if after_landswpr|default %}
                    <div class="after-landswpr">
                        {{ after_landswpr }}
                    </div>
                {% endif %}
            {% endblock %}

            {% if bookblock|default and not home_slider %}
                <div class="bookblock-wrapper">
                    {{ bookblock }}
                </div>
            {% endif %}

            {% if playlist_tourism.content|default %}
                <div class="page-playlist-wrapper">
                    {{ playlist_tourism.content }}
                </div>
            {% endif %}

            {% if tourtrip_infos|default %}
                <div class="tourtrip-infos-wrapper">
                    {{ tourtrip_infos }}
                </div>
            {% endif %}

            {% block printable %}
                {% if printable %}
                <div class="grid-container isRel">
                    <div class="win-print isAbs flex-container align-middle">
                        <small>{{ __('Imprimer/Exporter mes favoris', 'woody-theme') }}</small>
                        <span class="wicon wicon-040-imprimante"></span>
                    </div>
                </div>
                {% endif %}
            {% endblock %}
            {% for key, section in the_sections %}
                {% if section is empty %}
                {% else %}
                    <div class="page-section page-section-{{ key }}" id="pageSection-{{ key }}">
                        {{ section }}
                    </div>
                {% endif %}
            {% endfor %}
            {% if 'claims' in enabled_woody_options %}
                <div class="claims-blocks-wrapper"></div>
            {% endif %}
        </div>
    </main>
    {% if is_pocketsite %}
        </div>
        </div>
    {% endif %}
{% endblock %}
