{% extends "base.twig" %}

{% block content %}
    <main id="main-content" class="content-type-page {{ page_type|default }}">
        <div class="content-wrapper">
            {{ page_hero|default }}
            {# {% include 'parts/shares.twig' %} #}
            {% block page_teaser %}
                <header class="page-teaser">
                    {% if trip_infos | default %}
                        <div class="grid-container">
                            <div class="grid-x grid-padding-x">
                                <div class="cell medium-9 large-8">{{ page_teaser }}</div>
                                <div class="cell medium-3 large-4 flexCol faEnd">{{ trip_infos|default }}</div>
                            </div>
                        </div>
                    {% else %}
                        {{ page_teaser }}
                        {{ trip_infos|default }}
                    {% endif %}

                </header>
            {% endblock %}
            {{ playlist_template|default }}
            {% for key, section in the_sections %}
                <div class="page-section page-section-{{ key }}">
                    {{ section }}
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block metas %}
    <script>
        var siteConfig = {{site_config}};
    </script>
{% endblock %}
