{% extends "base.twig" %}

{% block content %}
<div class="section page-content">
  <div class="wrapper flex-container">
    <main class="blog__posts">

      <div class="post">
        <h1 class="blog__title">{{post.title}}</h1>

        {% if post.can_edit %}
        <a href="{{post.edit_link}}">Modifier l'article</a>
        {% endif %}

        <div class="post__date">Le {{post_date}}</div>

        <div class="post__meta">
          <ul class="post__cats">
          {% for term in post.terms('category') %}
            <li><a href="{{term.link}}">{{term.name}}</a></li>
          {% endfor %}
          </ul>

          <ul class="post__tags">
          {% for term in post.terms('tags') %}
            <li><a href="{{term.link}}">{{term.name}}</a></li>
          {% endfor %}
          </ul>
        </div>

        <div class="post__thumbnail">
          <img src="{{post.thumbnail.src('medium')}}" alt="{{post.thumbnail.title}}">
        </div>

        <div class="post__content content">
          {{post.content}}
        </div>
      </div>
    </main> <!-- blog__posts -->

    <div class="blog__sidebar">
      {{sidebar}}
    </div> <!-- blog__sidebar -->

  </div> <!-- wrapper -->
</div>
{% endblock %}
