<div class="hero-section header-media-fullwidth">
    {% if post.display_media == 'img' %}
        <div class="hero-section-img" style="height:400px; width:100%; background:url('{{ post.img.src('featured-large') }}') center center no-repeat; background-size:cover;"></div>
    {% elseif post.display_media == 'mov' %}
        <div class="hero-section-movie">
            {{ post.get_field('movie') }}
        </div>
    {% endif %}
    <div class="hero-section-text text-center">
        <h1 class="page__title">{{post.title}}</h1>
        <h5>{{post.subtitle}}</h5>
    </div>
    {% if post.display_taxonomies == 1 %}
        <ul class="thematic-tags unstyled inline-list list-center">
            {% for term in post.terms('thematic') %}
                <li class="label primary">{{ term }}</li>
            {% endfor %}
        </div>
    {% endif %}
    {% if post.slogan | default %}
        <div class="hero-section-slogan callout text-center">
            <p>{{ post.slogan }}</p>
        </div>
    {% endif %}
</div>
