{% if wp.theme.theme_mod == 'offcanvas'%}
    {% include 'parts/page/mobile-off-canvas.twig' %}
{% endif %}

<header class="site-header" role="banner">
    <div class="site-title-bar title-bar" {{ function('basetheme_mobile_menu_id') }}>
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-toggle="{{ function('basetheme_mobile_menu_id') }}"></button>
            <span class="site-mobile-title title-bar-title">
                <a href="{{ site.url }}" rel="home">{{ site.name }}</a>
            </span>
        </div>
    </div>
    <nav class="site-navigation top-bar" role="navigation">
        <div class="top-bar-left">
            <div class="site-desktop-title top-bar-title">
                <a href="{{ site.url }}" rel="home">{{ site.name }}</a>
            </div>
        </div>
        <div class="top-bar-right">
            {{ function('basetheme_top_bar_r') }}
            {% if not wp.theme.theme_mod or wp.theme.theme_mod == 'topbar' %}
                {% include 'parts/page/mobile-top-bar.twig' %}
            {% endif %}
        </div>
    </nav>

</header>
