<div class="woody-dashboard-widget {{ class }}">
    <a href="{{ button_link }}" target="_blank">
        <img src="{{ cover }}" width="100%" alt="{{ title }}">
    </a>
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <a href="{{ button_link }}" target="_blank">
        <span class="dashicons dashicons-{{ button_icon }}"></span>
        <span class="text">{{ button_text }}</span>
    </a>
</div>
