<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-opt-out cc-theme-edgeless cc-bottom cc-color-override--27209529">
    <span id="cookieconsent:desc" class="cc-message">
        {{message}}
        <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="{{href}}" rel="noopener noreferrer nofollow" target="_blank">{{link}}</a>
    </span>

    {% if options %}
        {% for option in options  %}
            <div class="cc-option">
                <div class="flex-container">
                    <span class="cc-option-label h4"> {{option.label}} </span>
                    <div class="switch tiny">
                      <input class="switch-input" id="{{option.label|lower}}" type="checkbox" name="{{option.label|lower}}">
                      <label class="switch-paddle" for="{{option.label|lower}}">
                        <span id="cookieoption:label"></span>
                      </label>
                    </div>
                </div>
                <p id="cookieoption:desc" class="cc-option-desc"> {{option.description}}</p>
            </div>
        {% endfor  %}
    {% endif %}

    {# Accepter ou Refuser tous les cookies #}
    <div class="cc-compliance cc-highlight">
        <a aria-label="deny cookies" role="button" tabindex="0" class="cc-btn cc-deny">{{deny}}</a>
        <a aria-label="personalize allow cookies" role="button" tabindex="0" class="cc-btn cc-allow cc-personalize">{{allow}}</a>
    </div>
</div>
