<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-opt-out cc-theme-edgeless cc-bottom cc-color-override--27209529">
    <span id="cookieconsent:desc" class="cc-message">
        {{message}}
        <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="{{href}}" rel="noopener noreferrer nofollow" target="_blank">{{link}}</a>
    </span>

    {# Accepter ou Refuser tous les cookies #}
    <div class="cc-compliance cc-highlight">
        <a aria-label="deny cookies" role="button" tabindex="0" class="cc-btn cc-deny">{{deny}}</a>
        <a aria-label="allow cookies" role="button" tabindex="0" class="cc-btn cc-allow">{{allow}}</a>
    </div>

    {% if options %}
        {% for option in options  %}
            <div class="cc-option">
                <div class="flex-container">
                    <span id="cookieoption:label" class="cc-message"> {{option.label}} </span>
                    <div class="switch tiny">
                      <input class="switch-input" id="{{option.label|lower}}" type="checkbox" name="{{option.label|lower}}">
                      <label class="switch-paddle" for="{{option.label|lower}}">
                        <span id="cookieoption:label" class="cc-message"></span>
                      </label>
                    </div>
                </div>
                <p id="cookieoption:desc" class="cc-message"> {{option.description}}</p>
            </div>
        {% endfor  %}

        {# Enregistrer la personnalisation #}

        <div class="cc-compliance cc-highlight">
            <a aria-label="personalize cookies" role="button" tabindex="0" class="cc-btn cc-personalize">{{personalize}}</a>
        </div>
    {% endif %}
</div>
