{% if element.add_bg | default %}
    <div class="section-fullwidth bg-primary">
        <div class="grid-container">
        {% endif %}
        <div class="text-center">
            {% if element.title | default %}
                <h2>{{ element.title }}</h2>
            {% endif %}
            {% if element.slogan | default %}
                <h5>{{ element.slogan }}</h5>
            {% endif %}
            {% if element.text | default %}
                {{ element.text }}
            {% endif %}

            {% if element.link.title and element.link.url | default %}
                <a class="button" href="{{ element.link.url }}" {% if element.link.target %} target="{{ element.link.target }}" {% endif %}>{{ element.link.title }}</a>
            {% endif %}
        </div>
        {% if element.add_bg | default %}
        </div>
    </div>
{% endif %}
