{% if element.alignement == 'bg' %}
    {% set block_classes = 'image-bg' %}
    {% set grid_classes = 'cell small-12 text-center' %}
{% elseif element.alignement == 'left' %}
    {% set block_classes = 'image-left grid-x grid-margin-x align-middle' %}
    {% set grid_classes = 'cell small-12 medium-6' %}
{% elseif element.alignement == 'right' %}
    {% set block_classes = 'image-right grid-x grid-margin-x flex-dir-row-reverse align-middle' %}
    {% set grid_classes = 'cell small-12 medium-6' %}
{% endif %}

<div class="{{ block_classes }} focus">
    {% if element.img | default %}

        {% if grid_classes %}
            <div class="section-img {{ grid_classes }}{% if element.display_fullwidth and element.alignement == 'bg' | default  %} section-fullwidth{% endif %}">
            {% endif %}
            <img src="{{ TimberImage(element.img).src(element.img_size) }}" {% if element.img.alt|default %} alt="{{ element.img.alt }}" {% endif %}/>
            {% if grid_classes %}
            </div>
        {% endif %}
    {% endif %}

    {% if grid_classes %}
        <div class="section-text {{ grid_classes }}{% if element.display_fullwidth | default  %} grid-container{% endif %}">
        {% endif %}
        {% if element.title | default %}
            <h2>{{ element.title }}</h2>
        {% endif %}
        {% if element.text | default %}
            {{ element.text }}
        {% endif %}
        {% if element.link.title and element.link.url | default %}
            <a class="button" href="{{ element.link.url }}" {% if element.link.target %} target="{{ element.link.target }}" {% endif %}>{{ element.link.title }}</a>
        {% endif %}
        {% if grid_classes %}
        </div>
    {% endif %}
</div>
