{% if element.grid_size == 'col_2' %}
    {% set grid = 'grid-x grid-padding-x small-up-2' %}
{% elseif element.grid_size == 'col_3' %}
    {% set grid = 'grid-x grid-padding-x small-up-2 medium-up-3' %}
{% elseif element.grid_size == 'col_4' %}
    {% set grid = 'grid-x grid-padding-x small-up-2 medium-up-4' %}
{% elseif element.grid_size == 'col_6' %}
    {% set grid = 'grid-x grid-padding-x small-up-3 medium-up-6' %}
{% endif %}

{% if element.title | default %}
    <h2>{{ element.title }}</h2>
{% endif %}

{% if element.gallery_items | default %}
    <div class="{{ grid }}">
        {% for image in element.gallery_items %}
            <div class="column">
                <a class="card" href="">
                    <img src="{{ TimberImage(image).src(element.img_size) }}" srcset="{{ TimberImage(image).src( srcset_small ) }} 568w, {{ TimberImage(image).src( srcset_medium ) }} 992w" {% if image.alt|default %} alt="{{ image.alt }}" {% endif %}/>
                    {% if image.caption %}
                        <div class="card-divider">
                            <small>{{ image.caption }}</small>
                        </div>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}