<header class="header-resa" style="{{ styles.header_resa|default }}">
    <div class="header-resa-container" style="{{ styles.header_resa_container|default }}">
        <div class="backhome">
            <a href="{{ home_url|default }}" style="{{ styles.backhome|default }}">{{ __("Retour à la page d'accueil", 'woody-theme') }}</a>
        </div>
        <img class="logo" src="{{ logo_url|default }}" style="{{ styles.logo|default }}" alt="Logo"/>
    </div>
</header>
