<footer class="footer-resa" style="{{ styles.footer_resa|default }}">
    <div class="footer-resa-container" style="{{ styles.footer_resa_container|default }}">
        <a href="{{ home_url|default }}" style="{{ styles.backhome|default }}">
        <img class="logo" src="{{ logo_url|default }}" style="{{ styles.logo|default }}" alt="Logo" title="Retour à la page d'accueil"/>
        </a>
        {{ footer_after|default }}
    </div>
</footer>
