
<header class="header-resa" style="{{ styles.header_resa|default }}">
    <div class="header-resa-container" style="{{ styles.header_resa_container|default }}">
        <div class="backhome" style="{{ styles.backhome|default }}">
            <a href="{{ home_url|default }}">Retour à la page d'accueil</a>
        </div>
        <img class="logo" src="{{ logo_url|default }}" style="{{ styles.logo|default }}" alt="Logo"/>
    </div>
</header>
